body {
    padding-top: 100px;
}

.Navbar{
    height: 100px;
    position: fixed;
    background: white;
    top: 0;
    left: 0;
    right: 0;
}

.Mascot{
    padding-left:-px;
    margin: 20px 20px 20px 30px;
}
.Logo{
    margin: 10px 20px 30px 5px;
}

.FF{
   padding-right: 50px;
   margin: 40px 20px 10px 30px;
   float:right;
}

.FC{
   padding-right: 600px;
   margin: 40px 20px 10px 30px;
   float:right;
}

.MyClub{
   border: 1px solid #172946;
}

.MyClub:hover{
   border: 1px solid;
}

.CC{
   margin-left: 20px;
}

.left-side-bar {
    background-color: #172946;
    height: 100%;
    width: 300px;
    position: fixed;
    left: -275px;
    transition: left .3s;
    top: 100px;
}

.left-side-bar > .status-ico {
    text-align: right;
    padding: 10px;
}

.left-side-bar:hover {
    left: 0;
}

.left-side-bar > .status-ico > span:last-child {
    display: none;
}

.left-side-bar:hover > .status-ico > span:last-child {
    display: block;
}

.left-side-bar:hover > .status-ico > span:first-child {
    display: none;
}

.MC {
    padding-left: 300px;
}