body {
  font-family: sans-serif;
  background-color: #172946;
}

#videos,
#container {
  padding-left: 295px;
  padding-right: 300px;
}

#videos {
  width: 1312px;
  height: 495px;
  padding-top: 94px;
}

#localVideo {
  max-width: 646px;
  width: 100%;
  float: left;
  border: 5px solid;
  display: inline-block;
}

#remoteVideo {
  max-width: 646px;
  width: 100%;
  border: 5px solid;
  display: none;
}

.Navbar{
    height: 100px;
    position: fixed;
    background: white;
    top: 0;
    left: 0;
    right: 0;
    filter: drop-shadow(0px 5px 5px rgba(0, 0, 0, 0.25));
}

.Mascot{
    padding-left:-px;
    margin: 20px 20px 20px 30px;
}
.Logo{
    margin: 10px 20px 30px 5px;
}

.FF{
   padding-right: 50px;
   margin: 40px 20px 10px 30px;
   float:right;
}

.FC{
   padding-right: 600px;
   margin: 40px 20px 10px 30px;
   float:right;
}

.left-side-bar {
    background-color: #172946;
    height: 100%;
    width: 300px;
    position: fixed;
    left: 0px;
    transition: left .3s;
    top: 100px;
    border-right: 3px solid;
    box-shadow: 5px 0px 5px rgba(0, 0, 0, 0.25);
}

.left-side-bar > .status-ico {
    text-align: right;
    padding: 10px;
}

.left-side-bar:hover {
    left: 0;
}

.left-side-bar > .status-ico > span:last-child {
    display: none;
}

.left-side-bar:hover > .status-ico > span:last-child {
    display: block;
}

.left-side-bar:hover > .status-ico > span:first-child {
    display: none;
}

.HS {
   height: 870px;
   width: 300px;
}

.ChatBox {
  right: 0px;
  position: fixed;
  padding-top: 91px;
}

.CB {
  height: 870px;
}

.remoteVideoInChatting {
  display: inline-block !important;
}

button {
  margin: 0 3px 10px 0;
  padding-left: 2px;
  padding-right: 2px;
  width: 99px;
}

button:last-of-type {
  margin: 0;
}

p.borderBelow {
  margin: 0 0 20px 0;
  padding: 0 0 20px 0;
}